// Place all the styles related to the Leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#logo_img{
	width: 225px;
}



/******* LEAGUES SECTION 1 APP *********/

#league-section-info{
  margin: 80px 0 25px 0;
  text-align: center;
}

#league-section-info h1{
  padding: 0px !important;
  margin: 0px 0px 10px !important;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  color: #222;
  letter-spacing: 0.3em;
}
#league-section-info h4{
  box-sizing: border-box;
  color: #999;
  font-family: 'Libre Baskerville', serif !important;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  line-height: 18.8px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3px;
  text-align: center;
  text-rendering: optimizelegibility;
  text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}
.line-section{
  width: 100%;
  height: 1px;
  background: #EFEFEF none repeat scroll 0% 0%;
}

.create-league{
  width: 80%;
  text-align: center;
  margin: 20px 0 20px 0;
  background-color: rgb(38, 192, 190);
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10%;
}

.create-league-link{

  display: block;
  color: white;
  margin: 0;
  padding: 0px;
  height: 35px;
  line-height: 35px;
  font-size: 0.8em;
  font-weight: bolder;
  text-decoration: none !important;
}

.create-league-link:hover{
  text-decoration: none;
  color: white;
}



/******** COURSES SECTION **********/

.leagues{
  width: 100%;
  border: 1px solid #F2F2F2;
  margin-top: 50px;
}
.leagues-holder{
  position: relative;
}
.leagues-holder img{
  width: 100%;
}
.current-jackpot{
  width: 120px;
  height: 30px;
  color: white;
  line-height: 25px;
  padding: 2px 5px 2px 5px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(255, 143, 51);
}


.leagues-info{
  margin-left: 10px;
  margin-top: 15px;
  overflow: hidden;
}

.leagues-info h1{
  cursor: pointer;
  letter-spacing: 0.3px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.leagues-info p{
  font-size: 0.9em;
  font-weight: 300;
  color: #555;
  line-height: 1.5;
  margin: 10px 0px 1.5em 0px !important;
}


.league-login{
  width: 80%;
  background-color: rgb(88, 191, 68);
  margin-left: 10%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
}
.league-login-link{
  display: block;
  margin: 0;
  padding: 0px;
  height: 35px;
  line-height: 35px;
  text-decoration: none !important;
  font-size: 0.8em;
  font-weight: bolder;
  color: white;
  margin-bottom: 25px;
}

.league-login:hover{
  text-decoration: none !important;
  color: white !important;
  background-color: rgb(88, 191, 68) !important;
}



/********FOOTER OF THE APP **********/

#footer-app{
  width: 90%;
  text-align: center;
  margin-top: 35px;
  margin-left: 5%;
  padding-bottom: 20px;
  padding-top: 10px;
}
.footer-app-content{
  margin-top: 25px;
}

.line-section{
  width: 100%;
  height: 1px;
  background: #EFEFEF none repeat scroll 0% 0%;
}